<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>FreshKeeper needs access to your camera to take photos of your food items for easy identification.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>FreshKeeper needs access to your photo library to let you choose photos of your food items.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIImageName</key>
        <string>LaunchIcon</string>
    </dict>
</dict>
</plist>
